<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{judulku}</title>



    <!-- Bootstrap core JavaScript -->
    <script src="{sumber}/template/vendor/jquery/jquery.min.js"></script>
    <script src="{sumber}/template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{sumber}/template/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="{sumber}/template/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="{sumber}/template/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="{sumber}/template/js/creative.min.js"></script>



    <!-- Bootstrap core CSS -->
    <link href="{sumber}/template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{sumber}/template/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="{sumber}/template/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{sumber}/template/css/creative.min.css" rel="stylesheet">



  </head>

  <body>

{isi_menu}




    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">

				<br>
				<br>
				<br>
			<table width="100%" height="400" border="1" cellspacing="0" cellpadding="3" bgcolor="white">
			<tr valign="top">
			<td valign="top" align="left">

			{isi}
			
			</td>
			</tr>
			</table>

        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-12 text-center">

			<i>2018. ANTRIAN</i>

        </div>
      </div>
      
    </div>



    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">ADMINISTRATOR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{sumber}/adm/index.php">BERANDA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{sumber}/adm/s/pass.php" title="Change Password">Ganti Password</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{sumber}/adm/a/antrian.php" title="Antrian">Antrian</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{sumber}/logout.php" title="LOGOUT">LOGOUT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>



    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



  </body>

</html>
